# BẢO MẬT - TUYỆT ĐỐI KHÔNG ĐƯỢC ĐẨY LÊN
#.env
#general.md

# Môi trường ảo cục bộ (Không cần thiết đẩy lên vì mỗi máy tự cài đặt)
.venv/
env/

# Dữ liệu cục bộ & Log (Dung lượng lớn, thay đổi liên tục)
data/
logs/
*.parquet
*.json
*.csv
# Spark/Ivy - Cache thư viện Jar
.ivy2/

# File rác do Python và hệ điều hành sinh ra
__pycache__/
*.pyc

# 5. OS & IDE
.DS_Store
.vscode/
.idea/